<nav class="navbar fixed-top">
  <button class="navbar-toggler ms-1 bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Customer Service menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3 mb-4" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
          <ul class="navbar-nav justify-content-start ms-2">

              <li class="nav-item">
                  <a class="nav-link" href="/customerService/dashboard">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="/customerService/profile">Profile</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/quantityBasedCommissionHistoryList">Quantity Based Commission History List</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/deliveryCommissionHistoryList">Delivery Commission History List</a>
              </li>
              
              <hr>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/createLogisticsOrder">Create Logistics Order</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/logisticsOrderPendingList">Logistics Order Pending List</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/logisticsOrderList">Logistics Order List</a>
              </li>

              <hr>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/logisticsOrderFeed">Logistics Order Feed</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/deliveryList">Delivery List</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/customerService/startDeliverList">Start Deliver List</a>
              </li>

              <hr>

              <li class="nav-item">
                  <form action="/customerService/logout" method="post">
                      <button type="submit" class="btn nav-link text-danger">Logout</button>
                  </form>
              </li>

              <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li> -->
          </ul>
      </div>
  </div>
</nav>

<!-- <div class="container mt-5">
  <h1 class="mb-4">Welcome to Profile Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, libero a faucibus commodo, justo felis cursus lectus, sit amet aliquet ligula mauris eget justo. Sed nec tellus vel justo malesuada volutpat...</p>
</div> -->
